.shots {
  background-color: $black;
  z-index: 1;
  position: relative;
  overflow: hidden;
  &-container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 52px;
    position: relative;
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      position: absolute;
      top: 100px;
      bottom: 100px;
      left: 0;
      right: 0;

      &-body {
        padding: 0 24px;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        .text-container {
          background: linear-gradient(
            90deg,
            #1a1a1a 0%,
            #1a1a1a 52%,
            #1a1a1a 62%,
            rgba(26, 26, 26, 0.97) 90%,
            rgba(26, 26, 26, 0.95) 94%,
            rgba(26, 26, 26, 0) 100%
          );
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          flex: 1;
          z-index: 2;
          h1 {
            font-size: $title;
            font-weight: bold;
            padding-bottom: 24px;
            margin-top: 0;
            position: relative;
            margin: 0;
            color: $white;

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 2px;
              background: linear-gradient(
                90deg,
                #8b949e 0%,
                rgba(255, 255, 255, 0) 100%
              );
            }
          }
          p {
            margin: 0;
            font-size: $body;
            color: $grayDark;
          }
          .buttons {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 100%;
            .divider {
              height: 1px;
              background-color: $blackSecondary;
            }
            .ant-btn {
              color: $white;
              font-size: $body;
              font-style: italic;
              padding: 0;
              min-height: auto;
              display: flex;
              align-items: center;
              justify-content: space-between;
              transition: 0.6s;

              span {
                transition: 0.6s;
                position: relative;
                &::before {
                  transition: 0.6s;
                  content: "";
                  display: block;
                  position: absolute;
                  left: 100%;
                  right: 100%;
                  bottom: -5px;
                  height: 1px;
                  background-color: transparent;
                }
              }

              &:hover {
                span {
                  opacity: 0.92;
                  text-decoration: none;
                  transform: skew(4deg, 4deg);
                  &::before {
                    right: 22px;
                    left: 22px;
                    background-color: $white;
                  }
                }
                img {
                  filter: invert(100%) sepia(63%) saturate(0%)
                    hue-rotate(246deg) brightness(87%) contrast(156%);
                }
              }
            }
          }
        }
      }
    }
    .shots-image {
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      height: auto;
      &-body {
        width: 100%;
        max-width: 1280px;
        padding: 0 24px;
        margin: 0 auto;
        .images {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .row {
            display: flex;
            gap: 12px;
            width: 100%;
            .image {
              height: 332px;
              width: 100%;
              min-width: 442px;
              border-radius: $radiusDefault;
              overflow: hidden;
              background-color: $blackSecondary;
              img {
                height: 332px;
                width: 100%;
                min-width: 442px;
                border-radius: $radiusDefault;
                object-fit: cover;
                transition: 0.6s;
                z-index: 1;
                position: relative;
                border: 2px solid transparent;
                overflow: hidden;
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 20%;
          z-index: 1;
          background-color: $black;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  @media (max-width: 991px) {
    &-container {
      .title {
        position: relative;
        top: 0;
        bottom: unset;
        left: unset;
        right: unset;
        &-body {
          padding: 0 24px;
          .text-container {
            width: 100%;
            flex: 1;
            gap: 32px;
            h1 {
              font-size: $title;
              font-weight: bold;
              padding-bottom: 24px;
              margin-top: 0;
              position: relative;
              margin: 0;
              color: $white;

              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background: linear-gradient(
                  90deg,
                  #8b949e 0%,
                  rgba(255, 255, 255, 0) 100%
                );
              }
            }
            .buttons {
              gap: 24px;
              width: auto;
              flex-direction: row;
              align-items: center;
              .divider {
                height: 32px;
                width: 1px;
                background-color: $blackSecondary;
              }
              .ant-btn {
                display: flex;
                align-items: center;
                justify-content: unset;
                gap: 16px;
              }
            }
          }
        }
      }
      .shots-image {
        &-body {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    &-container {
      padding: 66px 0;
      gap: 12px;
      .title {
        position: relative;
        top: 0;
        bottom: unset;
        left: unset;
        right: unset;
        &-body {
          padding: 0 24px;
          .text-container {
            width: 100%;
            flex: 1;
            gap: 32px;
            h1 {
              font-size: $subTitle;
            }
            .buttons {
              gap: 16px;
              .divider {
                height: 16px;
              }
              .ant-btn {
                font-size: $caption;
              }
            }
          }
        }
      }
      .shots-image {
        &-body {
          .images {
            .row {
              .image {
                height: 232px !important;
                min-width: 342px !important;
                img {
                  height: 232px !important;
                  min-width: 342px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 499px) {
    &-container {
      padding: 46px 0;
      .shots-image {
        &-body {
          .images {
            .row {
              .image {
                height: 132px !important;
                min-width: 242px !important;
                img {
                  height: 132px !important;
                  min-width: 242px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 400px) {
    &-container {
      gap: 6px;
      .title {
        &-body {
          .text-container {
            gap: 16px;
            h1 {
              font-size: $body;
              padding-bottom: 16px;
            }
            p {
              font-size: $caption;
            }
            .buttons {
              flex-direction: column;
              gap: 6px;
              width: 100%;
              .ant-btn {
                width: 100%;
                justify-content: space-between;
              }
              .divider {
                height: 1px;
                width: 100%;
              }
            }
          }
        }
      }
      .shots-image {
        &-body {
          .images {
            .row {
              .image {
                height: 152px !important;
                min-width: 242px !important;
                img {
                  height: 152px !important;
                  min-width: 242px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
