/* Colors */ /////////////////////////////////////////////////////////////////

// White
$white: #fff;

// Black
$black: #1a1a1a;
$blackSecondary: #302e30;

// Gray
$grayDark: #747688;
$gray: #f1f3f7;
$grayLight: #f9fafc;

// Success
$success600: #22c55e;
$success100: #e9f9ef;

// Warning
$warning600: #f59e0b;
$warning100: #fef5e7;

// Error
$error600: #ff4949;
$error100: #ffeded;

// Link
$link600: #0057ff;
$link100: #e5eeff;

// Stroke
$strokeDark: #dedede;
$strokeSecondary: #f1f2f6;

/* Sizes */ ////////////////////////////////////////////////////////////////

// font sizes
$h1: 86px;
$h2: 52px;
$title: 42px;
$subTitle: 32px;
$body: 24px;
$caption: 16px;
$small: 12px;
$micro: 10px;

// Radius sizes
$radiusXl: 62px;
$radiusLg: 32px;
$radiusMd: 24px;
$radiusDefault: 16px;

/* Shadows */ ////////////////////////////////////////////////////////////////

// Black shadow
$black-shadow-base: 0px 2px 10px rgba(0, 0, 0, 0.1);
$black-shadow-medium: 0px 4px 20px 0px rgba(26, 42, 97, 0.1);
$black-shadow-large: 0px 4px 30px 0px rgba(26, 42, 97, 0.2);
$black-shadow-xlarge: 0px 4px 35px 0px rgba(26, 42, 97, 0.25);

// Brand shadow
// $black-shadow-base: 0px 4px 20px 0px rgba(33, 205, 168, 0.1);
// $black-shadow-medium: 0px 4px 25px 0px rgba(33, 205, 168, 0.15);
// $black-shadow-large: 0px 4px 30px 0px rgba(33, 205, 168, 0.2);
// $black-shadow-xlarge: 0px 4px 35px 0px rgba(33, 205, 168, 0.25);
